@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="page">
<h2>@ViewData["Title"]</h2>

    <p class="text-muted txt-sm pt-4 w-50">ContactSpot collects personal information to create and manage user accounts and contacts. This application keeps this information secure and does not share it with third parties for marketing purposes.</p>
</section>
